@import "../util/base-variables"

@keyframes ascend-line
  0%
    width: 0
  100%
    width: 100%

.div-button
    position: relative
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

    button
        width: 10rem
        padding: 1rem 0
        border: none
        background: $base-color
        font-family: 'Dungeon'
        font-size: 1.5rem
        font-weight: bolder
        &:hover
            background: $hover-color
            color: $hover-text
            cursor: pointer
                