$color-base: #498bec
    
nav 
    font-family: sans-serif
    ul 
        list-style: none
        display: flex
        gap: .5rem
        .link
            text-decoration: none
            color: black
            padding: 1rem 2rem
            background: $color-base
