@import "../base-variables"

.aside-show-card
    position: fixed
    width: 30%
    transform: translate(-60%, 20%)
    border-bottom: .5rem solid $base-color-plus-opacity
    .container
        display: flex
        .img-char
            display: flex
            justify-content: center
            align-items: center
            max-width: 40%
            padding: .5rem
            background: $base-color-plus-opacity
            img 
                width: 90%
        .name-race-class
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-around
            div
                padding: 0 .5rem 0 0
                display: flex
                margin: .5rem
                span
                    padding: .3rem
                    &:first-child
                        background: $base-color-plus
                    &:last-of-type
                        padding: .3 .5rem 
                        border-bottom: .3rem solid $base-color-plus
                    
                        

                